<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>About</title>
</head>
<body class="bg-success p-2 text-black bg-opacity-75">
<div class="container text-center">
    <h1>The Ranking Project</h1>
    <br/>
    <h4>It is difficult to rank your favorites!</h4>
    <br/>
    <p style="width: 50%; margin: 0 auto;">This tool is to help people rank things!</p>
    <br/><br/>
    <a th:href="@{/main}">Back to the main page!</a>
</div>
</body>
</html>