<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">
<!--Reference layout from template-->

<head>
    <meta charset="UTF-8">
    <title>List Create</title>
</head>

<!-- Template Downloaded from Bootstrap-->

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <!-- INJECT LAYOUT FRAGMENT-->
    <section layout:fragment="body" class="py-5">

        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="${list.listName}"></h1>
                </div>
            </div>

            <div class="text-center">
                <a th:href="@{/lists}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left text-center"></i> Back to <span th:text="${list.listName}"></span> List
                </a>
            </div>
        </header>

        <!--CREATE ITEM FORM-->
        <div class="container">

            <!--ON POST ACTION GO TO THE /NEW ENDPOINT -->
            <form role="form"
                  method="post"
                  th:action="@{/items/{listId}(listId=${list.id})}"
                  th:object="${item}">

                <div class="form-group mb-3">
                    <label for="title">Item Name</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           th:field="*{name}"
                           placeholder="Item to be ranked"
                           autofocus
                           required
                           minlength="1">

                    <!--IF VALIDATION ERROR ON ITEM NAME (NULL), SHOW MESSAGE-->
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

        <!-- Display Existing Items -->
        <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
            <div th:each="item : ${list.items}" class="col">
                <div class="border rounded p-3 d-flex justify-content-between align-items-center">
                    <span class="fw-semibold" th:text="${item.name}">Item Name</span>
                </div>
            </div>
        </div>

    </section>
</main>
</body>
</html>