<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<!--Reference layout from template-->

<head>
    <meta charset="UTF-8">
    <title>List Create</title>
</head>

<!-- Template Downloaded from Bootstrap-->

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <!-- INJECT LAYOUT FRAGMENT-->
    <section layout:fragment="body" class="py-5">

        <!--CREATE LIST FORM-->
        <div class="container">

            <!--ON POST ACTION GO TO THE /edit ENDPOINT -->
            <form role="form"
                  method="post"
                  th:action="@{/items/{itemId}/edit(itemId=${item.id})}"
                  th:object="${item}">

                <div class="form-group mb-3">

                    <label for="title">Ranked Position: <span th:text="*{position}"></span></label>

                    <input type="text"
                           class="form-control"
                           id="title"
                           th:field="*{name}"
                           placeholder="item placeholder">

                    <!--IF VALIDATION ERROR ON NAME (NULL), SHOW MESSAGE-->
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Rename</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>