<!DOCTYPE html>

<!-- TODO: IS THIS NEEDED HERE SINCE IT IS ON THE LAYOUT? -->
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">
      <!--Reference layout from template-->

<head>
  <meta charset="UTF-8">
  <title>Ranker</title>
</head>

<!-- Template Downloaded from Bootstrap-->

<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">

    <!-- Page Content-->
    <!-- INJECT LAYOUT FRAGMENT-->
    <section layout:fragment="body" class="py-5">

      <section class="py-5 bg-light">
        <div class="container px-5 my-5">

          <div th:if="${param.success}" class="alert alert-success">
            You are registered successfully!
          </div>

          <h4 class="display-4 fw-bolder mb-4">Get Help Ranking Your Favorite Things</h4>
          <a class="btn btn-lg btn-primary" href="/lists/new">Start Ranking</a>
        </div>
      </section>

      <div class="container px-5 my-5">

        <!-- USER SPECIFIC DATA -->
<!--        <div sec:authentication="username">Hello, </div>-->

        <!-- FIXME: TO GREET USER -->
<!--        <div th:text="${#authentication.principal.username}"></div>-->

<!--        <div sec:authorize="hasRole('ROLE_USER')"-->
<!--             class="text-center mb-5">-->
<!--          <h1 class="fw-bolder">Your Ranked Lists</h1>-->
<!--        </div>-->

        <div class="row gx-5 mb-2">

          <!-- SEARCH BAR -->
          <div>
            <form th:action="@{lists/search}" class="form-inline my-2 my-lg-0 mb-3">
              <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search Your Lists" aria-label="Search">
            </form>
          </div>

          <div th:each="list :${lists}" class="lead fw-normal text-muted mb-0">
            <div class="position-relative mb-3">
              <h3 class="text-center mb-5" th:text=${list.listName}></h3>
              <a class="btn btn-primary" th:href="@{/lists/{listId}(listId=${list.favoritesListId})}">View</a>
              <a class="btn btn-primary" th:href="@{/lists/{listId}/edit(listId=${list.favoritesListId})}">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>